/* POSITIONNEMENT */
body {
    margin: 0;
    padding: 0;
}
.dflex {
    display: flex;
}
.fdrow {
    flex-direction: row;
}
.fdrowr {
    flex-direction: row-reverse;
}
.fdcol {
    flex-direction: column;
}
.fdcolr {
    flex-direction: column-reverse;
}
.fnowrap {
    flex-wrap: nowrap;
}
.fwrap {
    flex-wrap: wrap;
}
.fjcenter {
    justify-content: center;
}
.fjcend {
    justify-content: flex-end;
}
.posrel {
    position: relative;
}
.posabs {
    position: absolute;
}
.alignitem-c {
    align-items: center;
}
.margauto {
    margin: 0 auto;
}
.marg0 {
    margin: 0px;
}
.marg1 {
    margin: 10px;
}
.marg2 {
    margin: 20px;
}
.marg4 {
    margin: 40px;
}
.margt0 {
    margin-top: 0;
}
.margt1 {
    margin-top: 10px;
}
.margt2 {
    margin-top: 20px;
}
.margt4 {
    margin-top: 40px;
}
.margt6 {
    margin-top: 60px;
}
.margb0 {
    margin-bottom: 0;
}
.margb1 {
    margin-bottom: 10px;
}
.margb2 {
    margin-bottom: 20px;
}
.margb4 {
    margin-bottom: 40px;
}
.margb6 {
    margin-bottom: 60px;
}
.margl1 {
    margin-left: 10px;
}
.margl2 {
    margin-left: 20px;
}
.margl3 {
    margin-left: 30px;
}
.margl4 {
    margin-left: 40px;
}
.margl6 {
    margin-left: 60px;
}
.margr1 {
    margin-right: 10px;
}
.margr2 {
    margin-right: 20px;
}
.margr3 {
    margin-right: 30px;
}
.margr4 {
    margin-right: 40px;
}
.margr6 {
    margin-right: 60px;
}
.pad0 {
    padding: 0px;
}
.pad2 {
    padding: 20px;
}
.pad4 {
    padding: 40px;
}
.pad6 {
    padding: 60px;
}
.padt0 {
    padding-top: 0px;
}
.padt2 {
    padding-top: 20px;
}
.padt4 {
    padding-top: 40px;
}
.padt6 {
    padding-top: 60px;
}
.padl2 {
    padding-left: 20px;
}
.padl4 {
    padding-left: 40px;
}
.padr2 {
    padding-right: 20px;
}
.padr4 {
    padding-right: 40px;
}
.rot90 {
  transform: rotate(90deg);
}
/* TEXT */
.upper {
    text-transform: uppercase;
}
.link {
    text-decoration: none;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
/* COLORS */
.black {
    color: black;
}
.darkgrey {
    color: #3b3b3b;
}
.grey {
    color: #a6a6a6;
}
.bgblack {
    background-color: black;
}
.bgdarkgrey {
    background-color: #3b3b3b;
}
.bggrey {
    background-color: grey;
}
.bggreylight {
    background-color: #a6a6a6;
}
.bggreylight2 {
    background-color: #d6d6d6;
}
.bgwhite {
    background-color: white;
}