@font-face {
    font-family: 'Captureit';
    src: url('/assets/typos/Capture_it-webfont.woff');
}
@font-face {
    font-family: 'GroteskRegular';
    src: url('/assets/typos/CabinetGrotesk-Regular.woff');
}
@font-face {
    font-family: 'GroteskBold';
    src: url('/assets/typos/CabinetGrotesk-Bold.woff');
}
@font-face {
    font-family: 'GroteskMedium';
    src: url('/assets/typos/CabinetGrotesk-Medium.woff');
}
@font-face {
    font-family: 'GroteskThin';
    src: url('/assets/typos/CabinetGrotesk-Thin.woff');
}
/******************* STRUCTURE *******************/
body {
    background-color: #f3bc33;
    font-family: 'GroteskRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}
#container {
    /* positionnement bloc main */
    margin: 0 20px 50px 20px;
    background-color: #fffdf6;
}
header {
    height: 140px;
    align-items: center;
}
footer {
    /* afficher en version mobile */
    display: none;
}
#divider-title {
    height: 2px;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}
#col-1-left, #col-3-right {
    /* position de tout le bloc de contenu principal */
    flex: 1 1 46%;
}
#divider-c {
    flex: 0 0 2px;
    border: 1px solid black;
    background-color: black;
    margin: 29px 40px 131px 40px;
}
div#col-3-right {
    padding-right: 20px;
}
/******************* FONTS *******************/

.font1 {
    /* title xlarge */
    font-family: 'Captureit';
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 3px;
}
.font2 {
    /* large */
    font-family: 'GroteskRegular';
    font-size:1.2em;
}
.font3 {
    /* title default */
    font-family: 'GroteskMedium';
    font-size:1.5em;
    margin-bottom: 0;
}
.font4 {
    /* title medium */
    font-family: 'GroteskMedium';
    font-size:1em;
}
.font5 {
    /* medium */
    font-family: 'GroteskRegular';
    font-size:1em;
}
.font6 {
    /* Light */
    font-family: 'GroteskRegular';
    font-size: 0.9em;
}
.date-xp {
    white-space: nowrap;
}
div#all-skills h2, div#education h2, div#hobbies h2 {
    text-align: end;
}
/******************* COLORS *******************/
.first {
    color: black;
}
.second {
    color: #3b3b3b;
}
.third {
    color: #a6a6a6;
}
.fourth {
    color: #f3bc33;
}
.fifth {
    color: #fffdf6;
}
/******************* MEDIAS *******************/
#smedia a {
    color: #fffdf6;
}
.link-smedia, .link-smedia img {
    height: 24px;
    width: 24px;
}
#smedia {
    width: 33%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    padding: 0 20px 0 5px;
    border-radius: 20px 0 0 20px;
}
#decorlink-smedia {
    width: 24px;
    height: 24px;
    background-color: #f3bc33;
    border-radius: 20px;
    padding: 2px;
}
#photo-id {
    left: 60px;
    top: 20px;
    width: 180px;
    height: 180px;
}
.icon-deco {
    rotate: -4deg;
}
.icon-deco img {
    width: 20px;
}
.label-title {
    background-color: #f3bc33;
    margin-left: 10px;
    padding: 0 10px;
}
.item-sk span {
    color: #f3bc33;
    font-weight: bold;
    margin-right: 5px;
}
.item-sk {
    border: #f3bc33 solid 3px;
    padding: 8px;
}
#education p {
    margin: 10px 0;
}
#item-education {
    width: 90%;
}
.item-education {
    justify-content: space-between;
}
div.thead-xp {
    justify-content: space-between;
    margin-top: 25.536px;
}
div.thead-xp p {
    margin-top: 0px;
}
span.pill-xp {
    background-color: #3b3b3b;
    color: #fffdf6;
    font-size: smaller;
    border-radius: 10px;
    padding: 0 8px;
    margin: 0 4px;
}
div.logo-certif a img {
    width: 60px;
}
div.link-success a img {
    width: 40px;
}
/******************* ASIDE PHONE *******************/
#success-story {
    position: fixed;
    left: 10%;
    rotate: -5deg;
    bottom: -772px;
    transition: bottom 1s ease;
}
.phone-story {
    width: 500px;
    height: 800px;
    background-color: #000;
    border: #a6a6a6 solid 4px;
    border-radius: 60px;
    margin: 0 5px 0 5px;
    position: relative;
    box-shadow: 10px 5px 15px #3b3b3b49;

}
.topscreen {
    height: 50px;
    width: 160px;
    margin: 0 auto -35px auto;
    border-radius: 20px;
    background-color: #000;
    position: relative;
    z-index: 1000;
}
.screen {
    width: 90%;
    height: 90%;
    background-color: #d7d7d7;
    margin: 10px auto;
    border-radius: 40px;
    text-align: center;
}
.buttons-left {
    height: 0;
}
.buttons-left div {
    position: relative;
    border-radius: 3px 0 0 3px;
    background-color: grey;
}
.button-left-1 {
    height: 40px;
    width:8px;
    top: 150px;
}
.button-left-2 {
    height: 80px;
    width:8px;
    top: 160px;
}
.button-left-3 {
    height: 80px;
    width:8px;
    top: 170px;
}
.button-right {
    border-radius: 0 3px 3px 0;
    background-color: grey;
    height: 120px;
    width: 6px;
    position: relative;
    left: 512px;
    top: -560px;
}
/******************* CONTENT PHONE *******************/
#t1-success {
    background-color: #3b3b3b;
    padding: 10px 20px;
}
#t2-success {
    rotate: -5deg;
    width: min-content;
    letter-spacing: 10px;
    background-color: rgb(228, 24, 24);
}
#t3-success {
    background-color: #fffdf6;
    font-weight: bold;
}
.item-success {
    align-items: center;
    justify-content: space-around;
}
.number-success, .link-success {
    font-size: 3em;
    flex: 1 0 10%;
}
.content-success {
    flex: 6 0 80%;
}
/******************* MEDIA QUERIES *******************/
@media screen and (max-width: 1199px) {
    section#content {
        flex-direction: column;
    }
    #divider-c {
        display: none;
    }
    div#all-skills, div#hobbies {
        margin: 0 20px 0 20px;
    }
    div#all-skills h2, div#education h2, div#hobbies h2, div#col-3-right h2 {
        text-align: center;
        margin-top: 60px;
    }
    div#education, div#col-3-right {
        margin: 0 40px;
    }
    #success-story {
        position: relative;
        float: left;
        left: 67px;
        top: -216px;
    }
    div.certif-xp {
        flex-direction: column;
        align-items: center;
    }
    div#present-id {
        margin-left: 60px;
    }
    div#all-skills div.col-skills {
        display: flex;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 768px) {
    section#identity {
        flex-direction: column;
    }
    div#smedia {
        width: 80%;
    }
    #photo-id {
        left: 30%;
        top: 100px;
        width: 140px;
        height: 140px;
    }
    div#address-id {
        margin-top: 96px;
    }
    div#all-skills h4, div#col-3-right h2 {
        text-align: center;
    }
    div.col-skills {
        flex-direction: column;
    }
    div.item-xp {
        justify-content: center;
    }
    #success-story {
        display: flex;
        position: inherit;
        float: inherit;
        left: inherit;
        top: 4px;
        rotate: -2deg;
        justify-content: center;
        align-items: center;
    }
    .phone-story {
        width: 316px;
        height: 716px;
    }
    .button-right {
        left: 329px;
    }
    .title-success {
        font-size: 1.2em;
        line-height: 1em;
    }
    .number-success {
        display: none;
    }
    div#t-success {
        flex-direction: column;
        align-items: center;
    }
    div#t3-success {
        padding: 5px 50px;
    }
    div#t2-success {
        width: auto;
    }
    .link-success.dflex a img {
        width: 32px;
    }
    div.thead-xp {
        margin-top: 0;
        margin-bottom: 20px;
    }
    #education h2, #col-3-right h2 {
        margin-bottom: 20px;
    }
    p.subtitle-xp {
    margin: 0;
    }
    .item-xp {
        margin-bottom: 40px;
    }
    div#present-id {
        margin-left: 0px;
    }
    #divider-title {
        width: 90%;
        align-self: center;
    }
    .font6 {
        font-size: 1em;
    }
    .thead-xp {
        flex-wrap: wrap;
    }
    .date-educ {
        order: 1;
        margin-right: 10px;
    }
    .item-educ-line {
        order: 2;
    }
    #education p {
        margin: 10px 0 0 0;
    }
    div#col-3-right {
        padding-right: 0px;
    }
    div#present-id {
    margin: 20px;
    }
}