@font-face {
    font-family: 'Captureit';
    src: url('/assets/typos/Capture_it-webfont.woff');
}
@font-face {
    font-family: 'GroteskRegular';
    src: url('/assets/typos/CabinetGrotesk-Regular.woff');
}
@font-face {
    font-family: 'GroteskBold';
    src: url('/assets/typos/CabinetGrotesk-Bold.woff');
}
@font-face {
    font-family: 'GroteskMedium';
    src: url('/assets/typos/CabinetGrotesk-Medium.woff');
}
@font-face {
    font-family: 'GroteskThin';
    src: url('/assets/typos/CabinetGrotesk-Thin.woff');
}
/******************* STRUCTURE *******************/
body {
    background-color: #f3bc33;
    font-family: 'GroteskRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}
#container {
    /* positionnement bloc main */
    margin: 0 20px 50px 20px;
    background-color: #fffdf6;
}
header {
    height: 140px;
    align-items: center;
}
footer {
    /* afficher en version mobile */
    display: none;
}
#divider-title {
    height: 2px;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}
#col-1-left, #col-3-right {
    /* position de tout le bloc de contenu principal */
    /* flex: 1 0 48%; */
    width: 47%;
}
#divider-c {
    flex: 0 0 2px;
    border: 1px solid black;
    background-color: black;
    margin: 29px 20px 131px 20px;
}

/******************* FONTS *******************/

.font1 {
    /* title xlarge */
    font-family: 'Captureit';
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 3px;
}
.font2 {
    /* large */
    font-family: 'GroteskRegular';
    font-size:1.2em;
}
.font3 {
    /* title default */
    font-family: 'GroteskMedium';
    font-size:1.5em;
    margin-bottom: 0;
}
.font4 {
    /* title medium */
    font-family: 'GroteskMedium';
    font-size:1em;
}
.font5 {
    /* medium */
    font-family: 'GroteskRegular';
    font-size:1em;
}
.font6 {
    /* Light */
    font-family: 'GroteskRegular';
    font-size: 0.9em;
}
/******************* COLORS *******************/
.first {
    color: black;
}
.second {
    color: #3b3b3b;
}
.third {
    color: #a6a6a6;
}
.fourth {
    color: #f3bc33;
}
.fifth {
    color: #fffdf6;
}
/******************* MEDIAS *******************/
#smedia a {
    color: #fffdf6;
}
.link-smedia {
    height: 24px;
}
#smedia {
    width: 33%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    padding: 0 20px 0 5px;
    border-radius: 20px 0 0 20px;
}
#decorlink-smedia {
    width: 24px;
    height: 24px;
    background-color: #f3bc33;
    border-radius: 20px;
    padding: 2px;
}
#photo-id {
    left: 60px;
    top: 20px;
    width: 180px;
    height: 180px;
    border: 3px solid #fffdf6;
    border-radius: 100px;
    overflow: hidden;
}
.icon-deco {
    rotate: -4deg;
}
.icon-deco img {
    width: 20px;
}
.label-title {
    background-color: #f3bc33;
    margin-left: 10px;
    padding: 0 10px;
}
.item-sk span {
    color: #f3bc33;
    font-weight: bold;
    margin-right: 5px;
}
.item-sk {
    border: #f3bc33 solid 3px;
    padding: 8px;
}
#education p {
    margin: 10px 0;
}
#item-education {
    width: 90%;
}
.item-education {
    justify-content: space-between;
}
div.thead-xp {
    justify-content: space-between;
    margin-top: 25.536px;
}
div.thead-xp p {
    margin-top: 0px;
}
span.pill-xp {
    background-color: #a6a6a6;
    color: #fffdf6;
    font-size: smaller;
    border-radius: 10px;
    padding: 0 8px;
    margin: 0 4px;
}
/******************* ASIDE PHONE *******************/
#success-story {
    position: fixed;
    left: 10%;
    rotate: -5deg;
    bottom: -772px;
    transition: bottom 1s ease;
}
.phone-story {
    width: 500px;
    height: 800px;
    background-color: #000;
    border: #a6a6a6 solid 4px;
    border-radius: 60px;
    margin: 0 5px 0 5px;
    position: relative;
    box-shadow: 10px 5px 15px #3b3b3b49;

}
.topscreen {
    height: 50px;
    width: 160px;
    margin: 0 auto -35px auto;
    border-radius: 20px;
    background-color: #000;
    position: relative;
    z-index: 1000;
}
.screen {
    width: 90%;
    height: 90%;
    background-color: #d7d7d7;
    margin: 10px auto;
    border-radius: 40px;
    text-align: center;
}
.buttons-left div {
    position: relative;
    border-radius: 3px 0 0 3px;
    background-color: grey;
}
.button-left-1 {
    height: 40px;
    width:8px;
    top: 400px;
}
.button-left-2 {
    height: 80px;
    width:8px;
    top: 420px;
}
.button-left-3 {
    height: 80px;
    width:8px;
    top: 440px;
}
.button-right {
    border-radius: 0 3px 3px 0;
    background-color: grey;
    height: 120px;
    width: 8px;
    position: relative;
    left: 512px;
    top: -560px;
}
/******************* CONTENT PHONE *******************/
#t1-success {
    background-color: #3b3b3b;
    padding: 10px 20px;
}
#t2-success {
    rotate: -5deg;
    width: min-content;
    letter-spacing: 10px;
    background-color: rgb(228, 24, 24);
}
#t3-success {
    background-color: #fffdf6;
    font-weight: bold;
}
.item-success {
    align-items: center;
    justify-content: space-around;
}
.number-success, .link-success {
    font-size: 3em;
    flex: 1 0 10%;
}
.content-success {
    flex: 6 0 80%;
}
